body, html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/about-us-image.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
h2 {
    color:white;
    font-size: 35px;
    text-align: center;
}
p {
    color:white;
    font-size: 20px;
    text-align: center;
}
